set terminal pngcairo enhanced font "arial,14" fontscale 1.0 size 600, 450
#set terminal png nocrop enhanced font arial 14
#set output 'out.png'
set pointsize 0.5
set style data boxplot
set rmargin 12
set bmargin 4
#set terminal x11
set xtics rotate by -30 
set title "%(title)s" 
plot '-' using (1):2:(0):1
%(values)s
EOF

