set terminal pngcairo enhanced font "arial,9" fontscale 1.0 size 1366, 768
#set terminal png nocrop enhanced font arial 14
#set output 'out.png'
set style fill transparent solid 0.9 noborder
set style data histogram
set rmargin 12
set bmargin 10
#set terminal x11
set xtics rotate by -30 
set title "%(title)s" 
set yrange [0:]
plot '-' using 2:xticlabels(1) title col%(extras)s
%(values)s
EOF

