set terminal pngcairo enhanced font "arial,14" fontscale 1.0 size 600, 450
#set terminal png nocrop enhanced font arial 14
#set output 'out.png'
set rmargin 12
set bmargin 4
#set terminal x11
set xtics rotate by -30 
set title "%(title)s" 
plot '-' using 2:xticlabels(1) title "%(plot_title)s" with points
%(values)s
EOF

